<aside class="cta-quote" style="background-image: url('assets/img/backgrounds/pac750.jpg');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">Intelligence, Surveillance and Reconnaisance
                  <span class="text-primary">Airborne Solutions</span></span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll text-primary red" href="#process">LAISR</a>
                <a class="btn btn-outline-light page-scroll text-primary red" href="#process">MAISR</a>
            </div>
        </div>
    </div>
</aside>
