<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <h1>ROADRUNNER</h1>
            <p>
              Road-Runner is a multi-band fully passive
                   GSM interception system designed to
                   monitor the traffic between base
                   stations and mobile phones
            </p>
            <ul>
              <li>Undetectable operations in passive mode</li>
              <li>Real-time 2G and GSM interception</li>
              <li>Intercepted services: video, data, SMS,
                   EMS, MMS, call forwarding</li>
              <li>Target alerts can be filtered by IMSI, IMEI,
                   MSISDN, BTS</li>
              <li>Stores call metadata and identifiers in an integrated database</li>
              <li>Stores all intercepted voice audio and SMS</li>
              <li>Receives mixed bands (850/900/1800/1900 MHz)</li>
              <li>Receives RF on 1 to 4 antennas</li>
              <li>True plug-and-play external Deciphering Unit decrypts A5/1 with
                   minimal latency</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <img class="img-responsive" src="assets/img/p750/roadrunner.png" height="600" width="900" style="margin-top: 2em;"/>
          </div>
        </div>
    </div>
</section>
