<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <h1>ROADRUNNER</h1>
            <p>
              Road-Runner is a multi-band fully passive
                   GSM interception system designed to
                   monitor the traffic between base
                   stations and mobile phones
            </p>
            <ul>
              <li><a href='#'>Undetectable operations in passive mode</a></li>
              <li><a href='#'>Real-time 2G and GSM interception</a></li>
              <li><a href='#'>Intercepted services: video, data, SMS,
                   EMS, MMS, call forwarding</a></li>
              <li><a href='#'>Target alerts can be filtered by IMSI, IMEI,
                   MSISDN, BTS</a></li>
              <li><a href='#'>Stores call metadata and identifiers in an integrated database</a></li>
              <li><a href='#'>Stores all intercepted voice audio and SMS</a></li>
              <li><a href='#'>Receives mixed bands (850/900/1800/1900 MHz)</a></li>
              <li><a href='#'>Receives RF on 1 to 4 antennas</a></li>
              <li><a href='#'>True plug-and-play external Deciphering Unit decrypts A5/1 with
                   minimal latency</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <img class="img-responsive" src="assets/img/p750/roadrunner.png" height="600" width="900" style="margin-top: 2em;"/>
          </div>
        </div>
    </div>
</section>
