<div>
  <p>
    Airborne ISR Platform to provide multi-sensor Signals Intelligence and EO/IR Camera capabilities.  Provide an integrated Mission Management Suite for pre-planning and operational coordination with onboard and ground based forces.  Suite of Post Mission Analysis tools for Networking and Pattern of Life Management.  Border Security and Urban Environment.
  </p>
  <p>
    Intelligence gathering begins with planning – and ends with information that’s meaningful and actionable, placed quickly in the hands of decision-makers. Intelligence gathered from the air has great value. But when combined with veteran pilots, skilled intelligence operators, and mission commanders who can improvise and adapt quickly, it becomes a priceless resource with no substitute.
    But successful airborne intelligence gathering begins much earlier. It begins with systems engineers who see the “big picture”. It begins with integrators who recognize the entire intelligence ecosystem – and where it’s going in the future. It begins with hardware that performs under pressure. It begins with software that can find threats. It begins with developers who can customize solutions. Success begins here.
  </p>
  <p>
    CITC brings all of this to the table – and more. We provide the tools for commanders to plan missions. We provide aircrews who’ve proven themselves in tactical environments. We provide the tools to analyze and share the results. We provide complete solutions from screwdrivers to algorithms.
  </p>

  <h4>CITC currently supports three airborne intelligence lines of operation:</h4>
    <ul>
      <li><strong>IMINT</strong> – direct visual observation of the target area with visible-wavelength cameras, infrared and spectral imagers, and full-motion video</li>
      <li><strong>COMINT</strong> – GSM/2G intercepts and decryption, MITM attacks, IMSI catcher, pattern-of-life social networking from mobile phone collections</li>
      <li><strong>ELINT</strong> – RF scanning, signal decoding, direction finding</li>
    </ul>
</div>
