<!-- NOTE: .navbar-default and .navbar-inverse are both supported with this theme. -->
<img id="logo" src="assets/img/logo-outline.png" alt="">

<div class="navigation-underlay"></div>
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" [style.navbar-expanded]="showNavBar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i> Menu
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a crouterLink="/about" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a routerLink="/solutions" routerLinkActive="active">Solutions</a>
                </li>
                <li>
                    <a routerLink="/services" routerLinkActive="active">Services</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
