#navbar {
  background-color: transparent !important;
}

#logo {
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -113.5px !important;  /* 50% of your logo width */
  margin-top: 0;
  z-index: 99;
  height: 100px;
}

.navigation-underlay {
    height: 150px;
    width: 100%;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.8), transparent);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    pointer-events: none;
}
