<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 wow fadeIn">
        <h1>BMS - DATA LINK</h1>
        <ul>

          <li><a href='#'><strong>EnerLinksIII data link by BMS, includes:</strong></a>
            <ul>
              <li><a href='#'>HeliCoder-4 Transmitter</a></li>
              <li><a href='#'>DLC50 Downlink Control Panel</a></li>
              <li><a href='#'>DiversaPod ground antenna</a></li>
              <li><a href='#'>DR6000 Mark II Ground Station Receiver</a></li>
              <li><a href='#'>BDEC-2 Ground Station Decoder</a></li>
            </ul>
          </li>

          <li><a href='#'>Pushes video, audio and IP traffic to the ground</a></li>
          <li><a href='#'>Integrated H.264 compression HD video</a></li>
          <li><a href='#'>Data multiplexing of compressed video, IP traffic, metadata, and serial port data</a></li>
          <li><a href='#'>Low Probability of Intercept (LPI) combined with AES-256 encryption</a></li>
          <li><a href='#'>Power consumption under 50 watts</a></li>
          <li><a href='#'>5 Mbps Modem</a></li>
          <li><a href='#'>MISB compliant metadata handling (0604.1, 0601.4)</a></li>
          <li><a href='#'>Half-duplex with option for full-duplex</a></li>
          <li><a href='#'>Operates in L, S and C bands</a></li>
          <li><a href='#'>Calculated LOS range is 75 nmi at 5 Mbps with 10 dB of link margin for multipath fading</a></li>
          <li><a href='#'>Fully integrated ground receiving stations</a></li>

        </ul>
      </div>
      <div class="col-md-5 wow fadeIn">
        <img class="img-responsive center-block" src="assets/img/p750/bms.png" height="400" width="600" style="margin-top: 2em;"/>
      </div>
    </div>
  </div>
</section>
