<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 wow fadeIn">
            <img id="icatch-img" class="img-responsive" src="assets/img/p750/icatch.png"
            height="600" width="800" style="padding: 2em;"/>
          </div>
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".2s">
            <h1>ICatch</h1>
            <ul>
              <li>Has both active and passive capabilities</li>
              <li>Active mode: the IMSI Catcher mimics a cell tower and forces all nearby devices to connect to it</li>
              <li>Passive mode is undetectable</li>
              <li>Target alerts can be filtered by IMSI, IMEI,
                   MSISDN, BTS</li>
              <li>Simultaneous 2G and 3G capabilities
                   (GSM900, GSM1800, UMTS900, UMTS1800)</li>
              <li>IMSI, IMEI, TMSI and SIM card nationality can be extracted</li>
              <li>All captured identifiers are stored indefinitely for exploitation</li>
              <li>Direction finding based on timing advance signal analysis</li>
              <li>Active Denial-of-Service features</li>
              <li>Active forced handover (force 3G to 2G)</li>
              <li>Spoof SMS and cell tower error messages</li>
              <li>Track mobile phones even when SIM card is changed</li>
              <li>Silent call features to extract mobile phone power usage</li>
            </ul>
          </div>
        </div>
    </div>
</section>
