<img id="logo" src="assets/img/logo-outline.png" alt="">

<header style="background: url()">
    <div class="row" style="height: 100%;">

      <div id="air-section"
      routerLink="/solutions/air"
      routerLinkActive="active"
      class="col-sm-4 wow thirds"
      data-wow-delay=".2s"
      (mouseenter)='mouseEventAir($event)'
      (mouseleave)='mouseEventAir($event)'
      [ngClass]="{air: backgroundAir,
        fadeIn: backgroundAir}">
          <h3 class="text-center">Air</h3>
      </div>

      <div id="land-section"
        routerLink="/solutions/land"
        routerLinkActive="active"
        class="col-sm-4 wow thirds"
        data-wow-delay=".2s"
        (mouseenter)='mouseEventLand($event)'
        (mouseleave)='mouseEventLand($event)'
        [ngClass]="{land: backgroundLand,
          fadeIn: backgroundLand}">
          <h3 class="text-center">Land</h3>
      </div>

      <div id="sea-section"
        routerLink="/solutions/sea"
        routerLinkActive="active"
        class="col-sm-4 wow thirds"
        data-wow-delay=".2s"
        (mouseenter)='mouseEventSea($event)'
        (mouseleave)='mouseEventSea($event)'
        [ngClass]="{sea: backgroundSea,
          fadeIn: backgroundSea}">
            <h3 class="text-center">Sea</h3>
      </div>

    </div>
</header>
