
<div class="panel-group" id="sea-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#sea-accordion" href="#seaOne" aria-expanded="false" aria-controls="seaOne">
          Coastal Command & Control Project to integrate security assets for National security Project        </a>
      </h4>
    </div>
    <div id="seaOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <strong>Inventing the “Wet Fence”</strong>
        Whether the mission is providing port security, maritime surveillance, or coastal intrusion detection, CITC integrates the latest technologies to create a virtual “wet fence”. Anyone can install a sensor. But CITC builds upon an array of problem-solving talent and technology to create comprehensive solutions across the domain. This includes data collection, analysis, fusion, storage and putting meaning intelligence into the hands of decision makers.
        <ul>
          <li>Off-shore Gas and Oil rigs</li>
          <li>Port and Harbor security</li>
          <li>Oil spill detection and management</li>
          <li>Geolocation of threats</li>
          <li>Securing shoreline borders</li>
          <li>Providing direction to response teams</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#sea-accordion" href="#seaTwo" aria-expanded="false" aria-controls="seaTwo">
          Ports Protection with multi-subsurface sensors integrated with Coastal Radar and Camera assets
        </a>
      </h4>
    </div>
    <div id="seaTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <strong>Extending the “Wet Fence” underwater</strong>
        Unattended underwater sensors dramatically improve the range and capability of the virtual “wet fence”. Every hour of the day, every day, in total darkness and in harsh weather, CITC underwater arrays safeguard shorelines and harbors from intrusions as small as a single swimmer or diver. Additionally, such systems can be utilized to assist in man-overboard situations and find hazards such as underwater wreckage.
      </div>
    </div>
  </div>
</div>
