<section id="plane">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <img class="img-responsive center-block logo" src="assets/img/p750/laisr-logo.gif" />
          </div>

        </div>
        <div class="row">
            <div class="col-md-7 col-sm-12 wow fadeIn">
                <h1>PAC 750 XSTOL Aircraft</h1>
                <ul>
                  <li> 240 cubic foot cabin (6.8 cubic meters)</li>
                  <li> 70 cubic foot belly pod (2.0 cubic meters)</li>
                  <li> Take-off and landing in less than 800ft (244m), even when it’s hot and high</li>
                  <li> Operate off semi-prepared strips in all types
                       of terrain</li>
                  <li> Carry a load of almost 4,000lb (1,814kg) even
                       in hot and high conditions</li>
                  <li> Rugged, dependable construction with 150-hour
                       engine inspection intervals</li>
                  <li> Powered by a 750 hp (560 kW) Pratt amp;
                       Whitney PT6 engine</li>
                  <li> Wingspan: 42 feet (12.8 meters)</li>
                  <li> Height: 13.3 feet (4.0 meters)</li>
                  <li> Basic empty weight: 3600 lbs (1633 kg)</li>
                  <li> Maximum useful load: 3900 lbs (1769 kg)</li>
                  <li> Never Exceed speed: 170 knots (315 kmh)</li>
                  <li> Stall speed with flaps: 58 knots (107 kmh)</li>
                  <li> Max Range with aux fuel: 1400 nautical
                       miles (2600 km)</li>
                  <li> Endurance: 10 hours with aux fuel</li>
                  <li> Rate-of-Climb at Sea Level: 1,067 ft/min
                       (325 m/min)</li>
                  <li> Max Operating Altitude: 20,000 feet (6,096 meters)</li>
                  <li> Electrically ‘quiet’ aircraft with minimal electro
                       magnetic interference and all major control
                       systems mechanical rather than electric</li>
                  <li> The aircraft structure serves as an effective
                       Faraday Cage, blocking out external static
                       electric fields</li>
                </ul>
            </div>
          <div class="col-md-5 col-sm-8 wow fadeIn">
            <img class="img-responsive" src="assets/img/p750/plane-schem.png" height="400" width="750" style="margin-top: 2em;"/>
            <img class="img-responsive" src="assets/img/p750/plane-schem2.png" height="300" width="750" style="margin-top: 1em;"/>
          </div>
        </div>
    </div>
</section>
