<header style="background: url()">
    <div class="row" style="height: 100%;">

      <div id="projects"
        routerLink="/solutions"
        routerLinkActive="active"
        class="col-sm-4 wow thirds"
        (mouseenter)='mouseEventSolutions($event)'
        (mouseleave)='mouseEventSolutions($event)'
        [ngClass]="{solutions: backgroundSolutions}">
        <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Solutions</h3>
      </div>

      <div id="solutions"
        routerLink="/technology"
        routerLinkActive="active"
        class="col-sm-4 thirds"
        (mouseenter)='mouseEventTechnology($event)'
        (mouseleave)='mouseEventTechnology($event)'
        [ngClass]="{technology: backgroundTechnology}">
        <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Technology</h3>
      </div>

      <div id="products"
           routerLink="/products"
           routerLinkActive="active"
           class="col-sm-4 thirds"
           (mouseenter)='mouseEventProducts($event)'
           (mouseleave)='mouseEventProducts($event)'
           [ngClass]="{products: backgroundProjects}">
        <div *ngIf="backgroundProjects">
          <h3 class="fadeIn wow text-center" data-wow-delay=".2s" style="margin-bottom: 4em">Air</h3>
          <h3 class="fadeIn wow text-center" data-wow-delay=".4s" style="margin-bottom: 3em">Sea</h3>
          <h3 class="fadeIn wow text-center" data-wow-delay=".6s" style="margin-bottom: 2em">Land</h3>
        </div>
          <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Projects</h3>
      </div>

    </div>
</header>
