<header style="background: url()">
    <div class="row" style="height: 100%;">

      <div id="solutions"
      routerLink="/solutions"
      routerLinkActive="active"
      class="col-sm-4 wow thirds"
      (mouseenter)='mouseEventSolutions($event)'
      (mouseleave)='mouseEventSolutions($event)'
      [ngClass]="{solutions: backgroundSolutions}">
        <div *ngIf="backgroundSolutions">
          <h3 class="fadeIn wow text-center" data-wow-delay=".2s" style="margin-bottom: 4em">Air</h3>
          <h3 class="fadeIn wow text-center" data-wow-delay=".4s" style="margin-bottom: 4em">Sea</h3>
          <h3 class="fadeIn wow text-center" data-wow-delay=".6s" style="margin-bottom: 1em">Land</h3>
        </div>
        <div *ngIf="!backgroundSolutions">
          <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Solutions</h3>
        </div>
      </div>

      <div id="products"
        routerLink="/products"
        routerLinkActive="active"
        class="col-sm-4 thirds"
        (mouseenter)='mouseEventProducts($event)'
        (mouseleave)='mouseEventProducts($event)'
        [ngClass]="{products: backgroundProducts}">
        <div *ngIf="!backgroundProducts">
          <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Products</h3>
        </div>
      </div>

      <div id="technology"
        routerLink="/technology"
        routerLinkActive="active"
        class="col-sm-4 thirds"
        (mouseenter)='mouseEventTechnology($event)'
        (mouseleave)='mouseEventTechnology($event)'
        [ngClass]="{technology: backgroundTechnology}">
        <div *ngIf="!backgroundTechnology">
          <h3 class="text-center fadeIn wow" data-wow-delay=".2s">Technology</h3>
        </div>
      </div>

    </div>
</header>
