<header style="background-image: url('assets/img/agency/backgrounds/bg-header.jpg');">
    <div class="intro-content">
        <img src="assets/img/logo-white.png" class="img-responsive img-centered" alt="">
        <!-- <div class="brand-name">CITC</div> -->
        <!-- <hr class="colored"> -->
        <div class="brand-name-subtext">Critical Infrastructure Technology Consultancy</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>
