<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 wow fadeIn">
        <h1>BMS - DATA LINK</h1>
        <ul>

          <li><strong>EnerLinksIII data link by BMS, includes:</strong>
            <ul>
              <li>HeliCoder-4 Transmitter</li>
              <li>DLC50 Downlink Control Panel</li>
              <li>DiversaPod ground antenna</li>
              <li>DR6000 Mark II Ground Station Receiver</li>
              <li>BDEC-2 Ground Station Decoder</li>
            </ul>
          </li>

          <li>Pushes video, audio and IP traffic to the ground</li>
          <li>Integrated H.264 compression HD video</li>
          <li>Data multiplexing of compressed video, IP traffic, metadata, and serial port data</li>
          <li>Low Probability of Intercept (LPI) combined with AES-256 encryption</li>
          <li>Power consumption under 50 watts</li>
          <li>5 Mbps Modem</li>
          <li>MISB compliant metadata handling (0604.1, 0601.4)</li>
          <li>Half-duplex with option for full-duplex</li>
          <li>Operates in L, S and C bands</li>
          <li>Calculated LOS range is 75 nmi at 5 Mbps with 10 dB of link margin for multipath fading</li>
          <li>Fully integrated ground receiving stations</li>

        </ul>
      </div>
      <div class="col-md-5 wow fadeIn">
        <img class="img-responsive center-block" src="assets/img/p750/bms.png" height="400" width="600" style="margin-top: 2em;"/>
      </div>
    </div>
  </div>
</section>
