<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-12 wow fadeIn">
            <h1>MX-15 EO/IR SENSOR</h1>
            <ul>
              <li><a href='#'>Image resolution: 1280 x 720- </a></li>
              <li><a href='#'>Four-axis stabilization</a></li>
              <li><a href='#'>Field of Regard: 360° AZ, +30º to -120 º EL</a></li>
              <li><a href='#'>Camera zoom	X 120</a></li>
              <li><a href='#'>Zoom spotter</a></li>
              <li><a href='#'>Geo-tracking of targets</a></li>
              <li><a href='#'>Color low-light, wide-angle zoom EO imager</a></li>
              <li><a href='#'>Continuous-wavelength laser illuminator</a></li>
              <li><a href='#'>Short wave IR imager – useful for day and night imaging missions</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn">
            <h3 class="text-center">Infrared Camera Example</h3>
            <img class="img-responsive center-block" src="assets/img/p750/mx-15-mission.png"
            height="300" width="400"/>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn">
            <img class="img-responsive center-block" src="assets/img/p750/mx-15.jpg"
            height="300" width="400" style="padding: 2em;"/>
          </div>
        </div>
    </div>
</section>
