<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-12 wow fadeIn">
            <h1>MX-15 EO/IR SENSOR</h1>
            <ul>
              <li>Image resolution: 1280 x 720- </li>
              <li>Four-axis stabilization</li>
              <li>Field of Regard: 360° AZ, +30º to -120 º EL</li>
              <li>Camera zoom	X 120</li>
              <li>Zoom spotter</li>
              <li>Geo-tracking of targets</li>
              <li>Color low-light, wide-angle zoom EO imager</li>
              <li>Continuous-wavelength laser illuminator</li>
              <li>Short wave IR imager – useful for day and night imaging missions</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".2s">
            <h3 class="text-center">Infrared Camera Example</h3>
            <img class="img-responsive center-block" src="assets/img/p750/mx-15-mission.png"
            height="300" width="400"/>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".4s">
            <img class="img-responsive center-block" src="assets/img/p750/mx-15.jpg"
            height="300" width="400" style="padding: 2em;"/>
          </div>
        </div>
    </div>
</section>
