<!-- About Section -->
<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>ABOUT</h1>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeIn" data-wow-delay=".2s">
                <p>
                  In January 2008, a group of enlightened and similarly minded individuals from Intel Solution Services® created a new Company using Technologies, Experience and Skills from Europe and the U.S.  The "Promise" of this company was to help our Customers move from being Vendor-lead to being Solutions-lead.
                </p>
                <p>
                  At the core of this new group was a desire to transfer our experience from Global Customers to the Middle-East North Africa (MENA) Region focused on the priority challenges that these Governments faced.  Real day-to-day issues in how to build and protect vital National Assets and Infrastructure with access to Best-of-Breed Technologies.
                </p>
                <p>
                  And so, Critical Infrastructure Technologies Consultancy (CITC) was born in Abu Dhabi; a natural home for growth and reach within MENA.
                </p>
                <p>
                  On Land, Sea and Air we provide the most advanced, integrated solutions beyond Customer expectations delivering the Best Tools for Operations and the Unique Information for Critical Decision-making.
                </p>
            </div>

        </div>
    </div>
</section>
