<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 wow fadeIn">
            <img id="icatch-img" class="img-responsive" src="assets/img/p750/icatch.png"
            height="600" width="800" style="padding: 2em;"/>
          </div>
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".2s">
            <h1>ICatch</h1>
            <ul>
              <li><a href='#'>Has both active and passive capabilities</a></li>
              <li><a href='#'>Active mode: the IMSI Catcher mimics a cell tower and forces all nearby devices to connect to it</a></li>
              <li><a href='#'>Passive mode is undetectable</a></li>
              <li><a href='#'>Target alerts can be filtered by IMSI, IMEI,
                   MSISDN, BTS</a></li>
              <li><a href='#'>Simultaneous 2G and 3G capabilities
                   (GSM900, GSM1800, UMTS900, UMTS1800)</a></li>
              <li><a href='#'>IMSI, IMEI, TMSI and SIM card nationality can be extracted</a></li>
              <li><a href='#'>All captured identifiers are stored indefinitely for exploitation</a></li>
              <li><a href='#'>Direction finding based on timing advance signal analysis</a></li>
              <li><a href='#'>Active Denial-of-Service features</a></li>
              <li><a href='#'>Active forced handover (force 3G to 2G)</a></li>
              <li><a href='#'>Spoof SMS and cell tower error messages</a></li>
              <li><a href='#'>Track mobile phones even when SIM card is changed</a></li>
              <li><a href='#'>Silent call features to extract mobile phone power usage</a></li>
            </ul>
          </div>
        </div>
    </div>
</section>
